{% extends 'welcome/base.html' %}
<!-- Code for Facebook Login -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1737527669900907',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


{% block content %}
	<div class="section no-pad-bot" id="index-banner">
	  <div class="container">
	    <br><br>
	    <h1 class="header center black-text">Login | Vritthi</h1>
	    <div class="row center">
	      <h5 class="header col s12 light">Select one of the below to login</h5>
	    </div>
	    <div class="row center">
	      <a href="#" id="download-button" class="btn-large waves-effect waves-light blue">GitHub</a>
	    </div>
	    <div class="row center">
	      <a href="#" id="download-button2" class="btn-large waves-effect waves-light blue">Facebook</a>
	    </div>
	    <br><br>

	  </div>
	</div>

{% endblock %}
